body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
section,footer{
    height: 700px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
#top-section{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.half-section{
    float: left;
    width: 30%;
    margin-left: 10%;
    margin-top: 8%;
    padding-left: 4%;
}
.half-section img{
    width: 100%;
}
.half-section h1 span{
    color:  rgb(231, 56, 85)
}
.half-section a{
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, rgb(238, 12, 136), rgb(231, 56, 85));
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin-top: 30px;

}
.half-section p{
    color: dimgray;
    margin-bottom: 45px;
    font-size: 14px;
}
#biography-section{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#letest-work-section{
    height: 500px;
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 10%;
}
#letest-work-h2{
    text-align: center;
    margin-top: 40px;
}
.three-section{
    margin-top: 100px;
    width: 28%;
    float: left;
    margin-right: 2%;
}
.three-section img{
    width: 100%;
}
#footer-section{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
#footer-section h2{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 55px;
}
#footer-section a{
    color: dimgray;
    text-decoration: none;
}
#footer-message{
    margin-left: 30%;
    width: 35%;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, rgb(241, 50, 156), rgb(224, 72, 98));
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin-top: 30px;
}
#footer-section p span{
    font-size: 18px;
    font-weight: 600;
}
#footer-section p a{
    font-size: 12px;
}
#footer-section p{
    margin-bottom: 45px;
}
#footer-copy-right{
    color: dimgray;
    text-align: center;
    margin-top: 150px;
}
#footer-message h4{
    margin-top: -40px;
}
#footer-message p{
    font-size: 14px;
}
